<% @discounts.each do |discount| %>
  <h3>Discount Name: <%= discount.name %></h3><br/>
  <ul>Discount Percentage: <%= discount.discount_percentage %>%</ul><br />
  <ul>Minimum Item Quantity: <%= discount.minimum_quantity %></ul><br />
<%end%>